<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_morning"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_morning_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeBasedIconApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TimeBasedIconApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Alias activities for different icons -->
        <activity-alias
            android:name=".MorningActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_morning"
            android:roundIcon="@mipmap/ic_launcher_morning_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".NoonActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_noon"
            android:roundIcon="@mipmap/ic_launcher_noon_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AfternoonActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_afternoon"
            android:roundIcon="@mipmap/ic_launcher_afternoon_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".NightActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_night"
            android:roundIcon="@mipmap/ic_launcher_night_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
